<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="customAccessDeniedHandler"
		class="core_spring.org.authentication.CustomAccessDeniedHandler" />
		
	 <beans:bean id="myFilter"
	class="core_spring.org.authentication.JwtAuthenticationTokenFilter" />
	
	 <beans:bean id="entryPoint"
		class="core_spring.org.authentication.RestAuthenticationEntryPoint" />
		
	<beans:bean id="authManager"
		class="core_spring.org.authentication.UsernamePasswordAuthManager" />

	<http entry-point-ref="entryPoint" pattern="/task/**" authentication-manager-ref="authManager" >
		<custom-filter position="LAST" ref="myFilter" />
		<csrf disabled="true" />
	</http>




</beans:beans>